/* html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("Mountain home.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}
footer {
    display: block;
    font-size: 20px;
    position: fixed; 
    align-content: baseline;
}
.top{ 
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0;
    width: 100%;
}

.top a {
    float: left; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.top a:hover {
    background-color: darkgreen;
    color: white; 
}

.top a.active { 
    background-color: lightskyblue;
    color: whitesmoke;
    font-style: italic; 
}

.container {
    background-color: #FFF;
    margin: 80px 10%;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0 3px 26px 0 #000;
} */
body {
    background-color: red;
}